<p>Привет, {{username}}!</p>
<p>Похоже, что ты забыл пароль и пытаешься его восстановить. Используй ссылку ниже для восстановления, или проигнорируй сообщение, если это был не ты. Удачи!</p>

<a href="{{recoveryPasswordUrl}}">Восстановить пароль</a>